[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
authlib = "*"
pip = "*"
safety-schemas = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"
flake8 = "*"
black = "*"
isort = "*"
safety = "*"
bandit = "*"
authlib = "*"
pip-audit = "*"

[requires]
python_version = "3.14"
